<% @account_transactions.inject(@ending_amount) do |total, transaction| %>
  <tr>
    <td>
      <%= format_date(transaction.transaction_date, :longer) %>
    </td>
    <td>
      <%= transaction.description %>
    </td>
    <td>
      TAGS GO HERE
    </td>
    <td>
      <%= as_currency(transaction.amount) %>
    </td>
    <td>
      <%= as_currency(total) %>
    </td>
    <td>
    <% if transaction.is_a?(Payment) %>
      <%= link_to "Edit", edit_account_payment_path(@account, transaction.transactable), class: "btn btn-warning" %>
      <%= link_to "Delete", account_payment_path(@account, transaction.transactable), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this payment?" } %>
    <% else %>
      <%= link_to "Edit", edit_account_transfer_path(@account, transaction.transactable), class: "btn btn-warning" %>
      <%= link_to "Delete", account_transfer_path(@account, transaction.transactable), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this transfer?" } %>
    <% end %>
    </td>
  </tr>
  <%- total - transaction.amount %>
<% end %>
<tr>
  <td></td>
  <td>
    <strong>Starting balance</strong>
  </td>
  <td></td>
  <td></td>
  <td>
    <strong><%= as_currency(@starting_amount) %></strong>
  </td>
  <td></td>
</tr>
