<div class="row header-block">
  <div class="col-md-9">
    <h3>Sign in</h3>
  </div>
</div>

<div class="row">
  <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal', role: "form" },
    wrapper: :horizontal_form,
    wrapper_mappings: {
      check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean
    } do |f| %>

    <%= f.input :email, autofocus: true %>

    <%= f.input :password %>

    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, as: :boolean %>
    <% end -%>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit "Sign in", class: "btn btn-primary" %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
