<div class="row header-block">
  <div class="col-md-8">
    <h3><%= @account.name %></h3>
    <h4>Transactions</h4>
  </div>

  <div class="col-md-4 header-actions">
    <%= link_to "Back to accounts", accounts_path, class: "btn btn-danger" %>
    <%= link_to "Add transaction", new_account_transaction_path(@account), class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <% if @transactions.any? %>
      <%= render 'transactions_table' %>
    <% else %>
      <%= render 'no_transactions' %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= render 'tags' %>
  </div>
</div>
